body {
    margin:0; padding:0!important;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:#444;
}
* {outline:none}
a {color:#ffca7d}
a:hover,
a:focus {
    color:#ffca7d;
    outline:none;
    text-decoration:none
}

.bt {
    display:inline-block;
    margin:0; padding:0;
    border:0;
    color:#fff;
    line-height:38px;
    height:38px;
    font-size:14px;
    font-weight:bold;
    width:126px;
    text-transform:uppercase;
    text-align:center;
}
.bt-black {
    display:inline-block;
    text-transform:uppercase;
    width:100%;
    font-weight:bold;
    font-size:16px;
    color:#292929;
    background-color:#fff;
    line-height:40px;
    border:2px #292929 solid;
    text-align:center
}
.bt-black:hover {
    background-color:#292929;
    color:#fff
}
.bt .sprite {
    position:relative;
    margin-right:5px;
    top:3px;
}
.bt:hover {
    color:#fff;
    opacity:.8;
}
.bt.bt-blue,
.blue .bt,
.product-item-wrap.blue .bt {
    background-color:#048ed5;
    border-bottom:2px #005477 solid;
}
.bt.bt-yellow,
.yellow .bt,
.product-item-wrap.yellow .bt {
    background-color:#F29F00;
    border-bottom:2px #cd7a00 solid;
}
.bt.bt-green,
.green .bt,
.product-item-wrap.green .bt {
    background-color:#4ba300;
    border-bottom:2px #2c5e01 solid;
}
.bt.bt-red,
.blue-light .bt,
.product-item-wrap.blue-light .bt {
    background-color:#00b9da;
    border-bottom:2px #027f95 solid;
}
.bt.bt-disabled,
.disabled .bt {
    font-size:12px;
    font-weight:300;
    line-height:14px;
    padding-top:5px;
    background-color:#a2a2a2;
    border-bottom:2px #7d7d7d solid;
}
.bt.bt-empty {
    font-size:12px;
    line-height:23px;
    color:#161614;
    border:1px #161614 solid;
    font-weight:normal;
    height:25px;
    text-transform:lowercase
}
.bt.bt-empty:hover {
    color:#F29F00;
    border-color:#F29F00;
}

h1.page-title,
h1.page-title-left {
    font-size:30px;
    font-weight:300;
    margin:0 0 30px; padding:0;
    text-align:center;
    float:left;
}
h1.page-title-left {
    text-align:left;
    padding-left:10px;
}
h2.section-title {
    margin:0 0 40px; padding:0;
    font-size:30px;
    text-align:center;
    font-weight:300;
}

.article {
    padding-bottom:30px;
    margin-bottom:50px;
    border-bottom:1px #e6e6e6 solid;
}
.read-more {
    font-size:25px;
    margin-bottom:60px;
}
.small-article-wrap {
    padding-top:40px;
}
.small-article-wrap h2.section-title {
    margin-bottom:50px;
}
.article-list .small-article-item {
    padding-bottom:50px;
    margin-bottom:50px;
    border-bottom:1px #e6e6e6 solid;
}
.article-list .small-article-item:last-of-type {
    margin-bottom:0
}
.small-article-item figure {
    width:150px;
    margin-right:25px;
    float:left;
}
.small-article-item figure img {
    width:100%
}
.article-list .small-article-item figure {
    width:200px;
    margin-right:30px;
}
.article-list  .small-article-desc {
    font-size:15px;
}
.small-article-category {
    display:table;
    text-align:center;
    font-size:13px;
    border-radius:15px;
    min-width:85px;
    padding:0 10px;
    line-height:20px;
    border-width:1px;
    border-style:solid;
    margin-bottom:15px;
}
.article-title {
    margin:0 0 15px; padding:0;
    font-weight:300;
}
.article-title a {
    font-size:18px;
    color:#444;
}
.blue .article-title a:hover {
    color:#0088c0;
}
.green .article-title a:hover {
    color:#4ba300;
}
.yellow .article-title a:hover {
    color:#F29F00;
}
.blue-light .article-title a:hover {
    color:#00b9da;
}
.blue .small-article-category {
    color:#0088c0;
    border-color:#0088c0;
}
.green .small-article-category {
    color:#4ba300;
    border-color:#4ba300;
}
.yellow .small-article-category {
    color:#F29F00;
    border-color:#F29F00;
}
.blue-light .small-article-category {
    color:#00b9da;
    border-color:#00b9da;
}
.small-article-desc {
    font-size:13px;
    overflow:hidden
}
.small-article-item .more {
    margin-top:25px;
    padding-top:15px;
    border-top:1px #e6e6e6 solid;
}
.small-article-item .more a {
    font-size:14px;
}
.small-article-item .more a span {
    display:inline-block;
    width:10px;
    position:relative;
    top:3px;
    text-indent:-5px;
    overflow:hidden;
    margin-left:5px;
}
.small-article-item .more a:hover {
    opacity:.8
}
.small-article-item.blue .more a {
    color:#0088c0;
}
.small-article-item.green .more a {
    color:#4ba300;
}
.small-article-item.yellow .more a {
    color:#F29F00;
}
.small-article-item.blue-light .more a {
    color:#00b9da;
}

.breadcrumb {
    background:none;
    border-radius:0;
    padding:0 10px; margin:12px 0 20px;
}
.breadcrumb>li+li:before {
    content:'-';
    padding:0 5px 0 2px
}
.breadcrumb li {
    color:#aeaeae;
    font-size:13px;
}

.blue .breadcrumb>li+li:before,
.blue .breadcrumb li a {
    color:#0088c0
}
.yellow .breadcrumb>li+li:before,
.yellow .breadcrumb li a {
    color:#F29F00
}
.green .breadcrumb>li+li:before,
.green .breadcrumb li a {
    color:#4ba300
}
.blue-light .breadcrumb>li+li:before,
.blue-light .breadcrumb li a {
    color:#00b9da
}

.sidebar-title {
    font-size:18px;
    font-weight:bold;
    margin:0 0 30px; padding:0;
}
.sidebar-block {
    padding-bottom:30px;
}
.sidebar-menu {
    margin:0; padding:0;
    list-style:none;
}
.sidebar-menu li {
    color:#c6c6c6;
    margin-bottom:5px
}
.sidebar-menu li:last-of-type {
    margin-bottom:0
}
.sidebar-menu li a,
.tagcloud a {
    color:#444;
    font-size:15px;
    font-weight:300;
    margin-right:3px;
}

.blue .sidebar-menu li a:hover,
.blue .tagcloud a:hover {
    color:#0088c0
}
.yellow .sidebar-menu li a:hover,
.yellow .tagcloud a:hover {
    color:#F29F00
}
.green .sidebar-menu li a:hover,
.green .tagcloud a:hover {
    color:#4ba300
}
.blue-light .sidebar-menu li a:hover,
.blue-light .tagcloud a:hover {
    color:#00b9da
}

.paginator {
    margin:45px auto 0; padding:0;
    list-style:none;
    display:table;
}
.paginator li {
    display:inline-block;
    line-height:30px;
}

.paginator li.active {
    border-width:1px;
    border-style:solid;
}

.paginator li a {
    display:block;
    font-size:20px;
    font-weight:bold;
    padding:0 5px
}
.paginator li a:hover {
    color:#959494!important
}
.paginator li.active {
    padding:0 9px;
    margin:0 5px;
}
.paginator li.active span {
    color:#959494;
    font-size:20px;
    font-weight:bold;
}
.blue .paginator li a {
    color:#0088c0
}
.yellow .paginator li a {
    color:#F29F00
}
.green .paginator li a {
    color:#4ba300
}
.blue-light .paginator li a {
    color:#00b9da
}
.blue li.active {
    border-color:rgba(0,136,192,.5)
}

.price-slider {
    display:table;
    width:100%;
    margin-bottom:15px;
}
.price-slider .numb {
    float:left;
    width:calc(100% - 95px);
}
.price-slider .numb-wrap {
    overflow:hidden;
    margin-bottom:30px;
}
.price-slider .numb .txt {
    margin:0; padding:0;
    font-size:16px;
    color:#444;
    width:calc(50% - 10px);
    background-color:#eaeaea;
    border:0;
    float:left;
    text-align:center;
    height:34px;
    line-height:34px;
}
.price-slider .numb span {
    float:left;
    display:block;
    width:20px; height:34px;
    position:relative;
    color:#eaeaea;
    text-align:center
}
.price-slider .numb span:before {
    content:'';
    position:absolute;
    left:5px; right:5px; top:50%;
    height:1px;
    background-color:#eaeaea
}
.price-slider .bt {
    float:right;
    width:80px;
    font-size:11px;
    height:34px;
    line-height:34px;
}

#slider {
	width:100%;
    display:table;
    margin-bottom:30px;
}
.ui-slider {
	position: relative;
}

.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:26px; height:26px;
	cursor: pointer;
    border-radius:50%;
}

.blue .ui-slider .ui-slider-handle,
.blue .ui-slider .ui-widget-header {
    background-color:#048ed5
}
.yellow .ui-slider .ui-slider-handle,
.yellow .ui-slider .ui-widget-header {
    background-color:#F29F00
}
.green .ui-slider .ui-slider-handle,
.green .ui-slider .ui-widget-header {
    background-color:#4ba300
}
.blue-light .ui-slider .ui-slider-handle,
.blue-light .ui-slider .ui-widget-header {
    background-color:#00b9da
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -12px;
	margin-left: -13px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-widget-content {
	height:2px;
    background-color:#eaeaea;
}
.ui-widget-header {
    height:2px;
}

.filter-item {
    padding:25px 0 0;
    margin-bottom:-1px;
    border-top:1px #eaeaea solid;
    border-bottom:1px #eaeaea solid;
}
.filter-list ul {
    margin:0 0 25px; padding:0;
    list-style:none;
}
.filter-list ul li {
    overflow:hidden
}
.filter-list ul li label {
    font-weight:300;
    font-size:15px;
    cursor:pointer;
}

.filter-item .sidebar-title {
    cursor:pointer
}
.filter-item .sidebar-title.collapsed:after {
    content: '∨';
    font-size: 13px;
    position:relative;
    top:-1px;
}
.filter-item .sidebar-title:after {
    content:'∧';
    font-size: 13px;
    position:relative;
    top:-1px;
}

.blue .filter-list ul li label:hover,
.blue .filter-item .sidebar-title:after {
    color:#048ed5
}
.yellow .filter-list ul li label:hover,
.yellow .filter-item .sidebar-title:after {
    color:#F29F00
}
.green .filter-list ul li label:hover,
.green .filter-item .sidebar-title:after {
    color:#4ba300
}
.blue-light .filter-list ul li label:hover,
.blue-light .filter-item .sidebar-title:after {
    color:#00b9da
}


.filter-list ul li label span {
    color:#c6c6c6;
    margin-left:5px;
}
.filter-list ul li input {
    position:relative;
    left:-20px;
    display:inline-block;
}
.filter-list ul li i {
    position:relative;
    display:inline-block;
    width:20px; height:20px;
    background-color:#eaeaea;
    margin:0 12px 0 -15px;
    bottom:-5px;
}
.green .filter-list ul li input:checked + i {
    background:#eaeaea url(../img/check-green.png) no-repeat center;
}
.blue .filter-list ul li input:checked + i {
    background:#eaeaea url(../img/check-blue.png) no-repeat center;
}
.yellow .filter-list ul li input:checked + i {
    background:#eaeaea url(../img/check-yellow.png) no-repeat center;
}
.blue-light .filter-list ul li input:checked + i {
    background:#eaeaea url(../img/check-light_blue.png) no-repeat center;
}

.small-banner {
    margin-top:25px;
}
.small-banner a {
    display:block
}
.small-banner a img {
    width:100%
}

.sort-wrap {
    float:right
}
.sort {
    display:inline-block
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    width:155px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    font-size:14px;
    margin-left:-4px;
}

.select-styled {
    position:relative;
    padding:5px;
    border:1px transparent solid;
}

.blue .select-styled {
    color:#048ed5
}
.blue .select-styled.active {
    border-color:rgba(4,142,213,.4);
    box-shadow: 0 0 4px 1px rgba(4,142,213,.4);
}
.yellow .select-styled {
    color:#F29F00
}
.yellow .select-styled.active {
    border-color:rgba(242,159,0,.4);
    box-shadow: 0 0 4px 1px rgba(242,159,0,.4);
}
.green .select-styled {
    color:#4ba300
}
.green .select-styled.active {
    border-color:rgba(75,163,0,.4);
    box-shadow: 0 0 4px 1px rgba(75,163,0,.4);
}
.blue-light .select-styled {
    color:#00b9da
}
.blue-light .select-styled.active {
    border-color:rgba(0,185,218,.4);
    box-shadow: 0 0 4px 1px rgba(0,185,218,.4);
}
.blue .select-options {
    color:#048ed5;
    border-color:rgba(4,142,213,.4);
    box-shadow: 0 4px 4px 1px rgba(4,142,213,.4);
}
.yellow .select-options {
    color:#F29F00;
    border-color:rgba(242,159,0,.4);
    box-shadow: 0 4px 4px 1px rgba(242,159,0,.4);
}
.green .select-options {
    color:#4ba300;
    border-color:rgba(75,163,0,.4);
    box-shadow: 0 4px 4px 1px rgba(75,163,0,.4);
}
.blue-light .select-options {
    color:#00b9da;
    border-color:rgba(0,185,218,.4);
    box-shadow: 0 4px 4px 1px rgba(0,185,218,.4);
}

.select-styled:hover {
    opacity:.8;
}
.select-styled:active, .select-styled.active {
    opacity:.8
}
.select-styled:after {
    content:"∨";
    font-size:13px;
    position:absolute;
    top:5px; right:10px
}

.select-options {
    display:none;
    margin:-1px 0 0; padding:0 5px 5px;
    border-width:1px;
    border-style:solid;
    border-top:0!important;
    list-style:none;
    position:absolute;
    top:100%; right:0; left:0;
    z-index:9;
    background-color:#fff;
}
.select-options li {
    margin:0; padding:5px 0;
}
.select-options li.liactive {
    display:none
}
.select-options li:hover {
    opacity:.8
}
.select-options li[rel="hide"] {
    display:none;
}

.view {
    display:inline-block;
    margin:0 7px 0 20px;
    font-size:0;
    position:relative;
    bottom:-3px;
}
.view-item {
    display:inline-block;
    border:1px #eaeaea solid;
    padding:2px;
    margin:0 3px;
    width:24px;
}
.view-item i {
    display:inline-block;
    width:4px; height:4px;
    margin:1px;
    background-color:#d5d5d5
}
.view-item.view-list i:nth-of-type(even) {
    width:10px;
}
.blue .view-item:hover,
.blue .view-item.active {
    border-color:#048ed5;
}
.yellow .view-item:hover,
.yellow .view-item.active {
    border-color:#F29F00
}
.green .view-item:hover,
.green .view-item.active {
    border-color:#4ba300
}
.blue-light .view-item:hover,
.blue-light .view-item.active {
    border-color:#00b9da
}
.blue .view-item:hover i,
.blue .view-item.active i {
    background-color:#048ed5;
}
.yellow .view-item:hover i,
.yellow .view-item.active i {
    background-color:#F29F00
}
.green .view-item:hover i,
.green .view-item.active i {
    background-color:#4ba300
}
.blue-light .view-item:hover i,
.blue-light .view-item.active i {
    background-color:#00b9da
}
