body {
    margin:0; padding:0!important;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:#444;
}
* {outline:none}
a {color:#ffca7d}
a:hover,
a:focus {
    color:#ffca7d;
    outline:none;
    text-decoration:none
}

.bt {
    display:inline-block;
    color:#fff;
    line-height:38px;
    height:38px;
    font-size:14px;
    font-weight:bold;
    width:126px;
    text-transform:uppercase;
    text-align:center;
}
.bt-black {
    display:inline-block;
    text-transform:uppercase;
    width:100%;
    font-weight:bold;
    font-size:16px;
    color:#292929;
    background-color:#fff;
    line-height:40px;
    border:2px #292929 solid;
    text-align:center
}
.bt-black:hover {
    background-color:#292929;
    color:#fff
}
.bt .sprite {
    position:relative;
    margin-right:5px;
    top:3px;
}
.bt:hover {
    color:#fff;
    opacity:.8;
}
.bt.bt-blue,
.blue .bt {
    background-color:#388db5;
    border-bottom:2px #005477 solid;
}
.bt.bt-yellow,
.yellow .bt {
    background-color:#ff9800;
    border-bottom:2px #cd7a00 solid;
}
.bt.bt-green,
.green .bt {
    background-color:#5bd303;
    border-bottom:2px #038b00 solid;
}
.bt.bt-red,
.red .bt {
    background-color:#d13434;
    border-bottom:2px #a40a0a solid;
}
.bt.bt-disabled,
.disabled .bt {
    font-size:12px;
    font-weight:300;
    line-height:14px;
    padding-top:5px;
    background-color:#a2a2a2;
    border-bottom:2px #7d7d7d solid;
}
.bt.bt-empty {
    font-size:12px;
    line-height:23px;
    color:#161614;
    border:1px #161614 solid;
    font-weight:normal;
    height:25px;
    text-transform:lowercase
}
.bt.bt-empty:hover {
    color:#ff9800;
    border-color:#ff9800;
}

h1.page-title,
h1.page-title-left {
    font-size:30px;
    font-weight:300;
    margin:0 0 30px; padding:0;
    text-align:center;
}
h1.page-title-left {
    text-align:left
}
h2.section-title {
    margin:0 0 40px; padding:0;
    font-size:30px;
    text-align:center;
    font-weight:300;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slider .slick-arrow {
    cursor:pointer;
    position:absolute;
    top:0; bottom:0;
    width:90px;
    z-index:2
}
.slider .slick-arrow i {
    display:block;
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%) rotateZ(45deg);
    width:30px; height:30px;
    border-width:3px;
    border-style:solid;
    border-color:#000;
}
.slider .slick-arrow:hover i {
    opacity:.4
}
.slider .slick-arrow.slick-prev i {
    border-top:0;
    border-right:0
}
.slider .slick-arrow.slick-next i {
    border-bottom:0;
    border-left:0
}

.big-slider {margin-bottom:10px}
.big-slider .slick-arrow i {
    border-color:#388db5
}
.big-slider .slick-prev {
    left:0
}
.big-slider .slick-next {
    right:0
}

.big-slider img {
    width:100%;
}
.big-slider-item {
    position:relative
}
.big-slider .big-slider-content {
    position:absolute;
    top:50%; right:95px;
    width:330px;
    transform:translate(0,-50%);
}
.big-slider .big-slider-content .price {
    font-size:13px;
    font-weight:bold;
    line-height:25px;
    padding:0 15px;
    border-width:1px;
    border-style:solid;
    border-radius:15px;
    display:inline-block;
    margin-bottom:12px;
}
.big-slider .big-slider-content .big-slider-title {
    margin:0 0 15px; padding:0;
    font-size:36px;
    font-weight:300;
}
.big-slider .big-slider-content .big-slider-desc {
    font-size:14px;
    color:#1e1e1e;
    margin-bottom:25px;
}

.big-slider .blue .big-slider-content .price {
    color:#388db5;
    border-color:#388db5;
}
.big-slider .blue .big-slider-content .big-slider-title {
    color:#388db5;
}
.big-slider .yellow .big-slider-content .price {
    color:#ff9800;
    border-color:#ff9800;
}
.big-slider .yellow .big-slider-content .big-slider-title {
    color:#ff9800;
}
.big-slider .green .big-slider-content .price {
    color:#6ac015;
    border-color:#6ac015;
}
.big-slider .green .big-slider-content .big-slider-title {
    color:#6ac015;
}
.big-slider .red .big-slider-content .price {
    color:#bd0004;
    border-color:#bd0004;
}
.big-slider .red .big-slider-content .big-slider-title {
    color:#bd0004;
}

.product-slider-wrap {
    padding:40px 0 0;
}
section.with-bg .product-slider-wrap {
    margin:40px auto 10px;
    padding-bottom:40px;
}
section.yellow.with-bg {
    background:transparent url(../img/yellow-bg.png) no-repeat left top;
    background-size:cover;
}

.product-slider .slick-prev {
    left:-65px
}
.product-slider .slick-next {
    right:-65px
}

.blue .product-slider .slick-arrow i {
    border-color:#388db5
}
.yellow .product-slider .slick-arrow i {
    border-color:#ff9800
}
.green .product-slider .slick-arrow i {
    border-color:#b5e59a
}
.red .product-slider .slick-arrow i {
    border-color:#ffc0c0
}

.article {
    padding-bottom:30px;
    margin-bottom:50px;
    border-bottom:1px #e6e6e6 solid;
}
.read-more {
    font-size:25px;
    margin-bottom:60px;
}
.small-article-wrap {
    padding-top:40px;
}
.small-article-wrap h2.section-title {
    margin-bottom:50px;
}
.small-article-item figure {
    width:150px;
    margin-right:25px;
    float:left;
}
.small-article-item figure img {
    width:100%
}
.article-list .small-article-item figure {
    width:200px;
    margin-right:30px;
}
.article-list .small-article-content {
    padding-bottom:50px;
    margin-bottom:50px;
    border-bottom:1px #e6e6e6 solid;
}
.article-list  .small-article-desc {
    font-size:15px;
}
.small-article-category {
    display:table;
    text-align:center;
    font-size:13px;
    border-radius:15px;
    min-width:85px;
    padding:0 10px;
    line-height:20px;
    border-width:1px;
    border-style:solid;
    margin-bottom:15px;
}
.article-title {
    margin:0 0 15px; padding:0;
    font-weight:300;
}
.article-title a {
    font-size:18px;
    color:#444;
}
.blue .article-title a:hover {
    color:#0088c0;
}
.green .article-title a:hover {
    color:#6ac015;
}
.yellow .article-title a:hover {
    color:#ff9800;
}
.red .article-title a:hover {
    color:#bd0004;
}
.blue .small-article-category {
    color:#0088c0;
    border-color:#0088c0;
}
.green .small-article-category {
    color:#6ac015;
    border-color:#6ac015;
}
.yellow .small-article-category {
    color:#ff9800;
    border-color:#ff9800;
}
.red .small-article-category {
    color:#bd0004;
    border-color:#bd0004;
}
.small-article-desc {
    font-size:13px;
    overflow:hidden
}
.small-article-item .more {
    margin-top:25px;
    padding-top:15px;
    border-top:1px #e6e6e6 solid;
}
.small-article-item .more a {
    font-size:14px;
}
.small-article-item .more a span {
    display:inline-block;
    width:10px;
    position:relative;
    top:3px;
    text-indent:-5px;
    overflow:hidden;
    margin-left:5px;
}
.small-article-item .more a:hover {
    opacity:.8
}
.small-article-item.blue .more a {
    color:#0088c0;
}
.small-article-item.green .more a {
    color:#6ac015;
}
.small-article-item.yellow .more a {
    color:#ff9800;
}
.small-article-item.red .more a {
    color:#bd0004;
}

.breadcrumb {
    background:none;
    border-radius:0;
    padding:0 10px; margin:12px 0 20px;
}
.breadcrumb>li+li:before {
    content:'-';
    padding:0 5px 0 2px
}
.breadcrumb li {
    color:#aeaeae;
    font-size:13px;
}

.blue .breadcrumb>li+li:before,
.blue .breadcrumb li a {
    color:#0088c0
}
.yellow .breadcrumb>li+li:before,
.yellow .breadcrumb li a {
    color:#ff9800
}
.green .breadcrumb>li+li:before,
.green .breadcrumb li a {
    color:#6ac015
}
.red .breadcrumb>li+li:before,
.red .breadcrumb li a {
    color:#bd0004
}

.sidebar-title {
    font-size:18px;
    font-weight:bold;
    margin:0 0 30px; padding:0;
}
.sidebar-block {
    padding-bottom:30px;
}
.sidebar-menu {
    margin:0; padding:0;
    list-style:none;
}
.sidebar-menu li {
    color:#c6c6c6;
    margin-bottom:5px
}
.sidebar-menu li:last-of-type {
    margin-bottom:0
}
.sidebar-menu li a,
.tagcloud a {
    color:#444;
    font-size:15px;
    font-weight:300;
    margin-right:3px;
}

.blue .sidebar-menu li a:hover,
.blue .tagcloud a:hover {
    color:#0088c0
}
.yellow .sidebar-menu li a:hover,
.yellow .tagcloud a:hover {
    color:#ff9800
}
.green .sidebar-menu li a:hover,
.green .tagcloud a:hover {
    color:#6ac015
}
.red .sidebar-menu li a:hover,
.red .tagcloud a:hover {
    color:#bd0004
}

.paginator {
    margin:0 auto; padding:0;
    list-style:none;
    display:table;
}
.paginator li {
    display:inline-block;
    line-height:30px;
}

.paginator li.active {
    border-width:1px;
    border-style:solid;
}

.paginator li a {
    display:block;
    font-size:20px;
    font-weight:bold;
    padding:0 5px
}
.paginator li a:hover {
    color:#959494!important
}
.paginator li.active {
    padding:0 9px;
    margin:0 5px;
}
.paginator li.active span {
    color:#959494;
    font-size:20px;
    font-weight:bold;
}
.blue .paginator li a {
    color:#0088c0
}
.yellow .paginator li a {
    color:#ff9800
}
.green .paginator li a {
    color:#6ac015
}
.red .paginator li a {
    color:#bd0004
}
.blue li.active {
    border-color:rgba(0,136,192,.5)
}
